.header {
  display: grid;
  grid-template-columns: 25% 35% 40%;
  grid-template-areas: "title info date";
  justify-content: space-around;
  align-items: center;
  background: rgb(249, 249, 250) !important;
  color: rgb(0, 0, 37) !important;
}

.title {
  grid-area: title;
  font-weight: bold;
  font-size: 1.5rem;
}

.info {
  grid-area: info;
  display: flex;
  justify-content: space-around;
}

.date {
  grid-area: date;
  justify-self: self-end;
}